@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Cinzel+Decorative:wght@900&family=Delicious+Handrawn&display=swap');

body {
    font-family: 'Alkatra', cursive;
    background-color: rgb(46, 16, 68);
}
#bannermini {

    display: flex;
    background-color: teal;
    color: antiquewhite;
    justify-content: center;
    margin-top: 0px;

}


#maquemontitle {
    display: flex;
    color: rgb(139, 125, 193);
    width: 100v;
    height: 100px;
    font-size: 3.052rem;
    text-align: center;
    align-items: stretch;
    background-color: rgb(57, 26, 113);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 0px;


}

#select_pet {
    
    display: flex;
    flex-direction: column;
    color: rgb(83, 64, 255);
    background-color: rgb(57, 26, 113);
    /* width: 100vh; */
    height: 1060px;
    font-size: 1rem;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.spxd {

    color: rgb(139, 125, 193);
    width: 325px;
    height: 65px;
    font-size: 2.052rem;
    text-align: left;
    align-items: center;
    background-color: rgb(4, 4, 65);
    border-color: blue;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;


}

#first3 {

    display: flex;
    color: rgb(139, 125, 193);
    background-color: rgb(4, 4, 65);
    border: 1px solid black;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 28px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 20px;
}

#second3 {

    display: flex;
    color: rgb(139, 125, 193);
    background-color: rgb(4, 4, 65);
    border: 1px solid black;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 28px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 20px;
}

.Petboxes img {

    width: 120px;
    height: 120px;

}

input {
    display: flex;
    height: 2rem;
    width: 2rem;
    height: 2rem;
    width: 2rem;
    margin-left: 90px;
    
}

#button_s {
    width: 116px;
    height: 46px;
    font-size: 25px;
    padding: 2px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 5px;
    color: rgb(9, 9, 223);
    border-radius: 10px;

}

/* Seleccion de ataque CSS */

#select_attack {

    background-color: rgb(57, 26, 113);
    display: flex;
    height: 300px;
    width: 500px;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    border-radius: 20px;
    margin-left: 160px

}

button {
    background:rgb(139, 125, 193) ;
    border: 10px solid white; 
    font-family: 'Alkatra', cursive;
}

.lives {

    display: flex;
    color: rgb(139, 125, 193);
    background-color: rgb(4, 4, 65);
    border: 1px solid black;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 28px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    align-items: center;
    width: 800px;
    height: 176px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center

}

#buttonstore {

    display: flex;
    background-color: rgb(4, 4, 65);
    border-radius: 20px;
    height: 110px;
    width: 376px;
    padding-bottom: 30px;
    justify-content: space-evenly;
    
}


#button_f {
    width: 116px;
    height: 46px;
    font-size: 25px;
    padding: 2px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    margin-top: 30px;
    font-family: Cinzel Decorative;
    padding-right: 10px;
    padding-left: 5px;
    color: rgb(111, 3, 3);
    border: 5px solid rgb(111, 3, 3);

}


#button_w {

    width: 116px;
    height: 46px;
    font-size: 25px;
    padding: 2px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    margin-top: 30px;
    font-family: Cinzel Decorative;
    padding-right: 10px;
    padding-left: 5px;
    color: rgb(5, 36, 102);
    border: 5px solid rgb(5, 36, 102);

}


#button_p {

    width: 116px;
    height: 46px;
    font-size: 25px;
    padding: 2px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    margin-top: 30px;
    font-family: Cinzel Decorative;
    padding-right: 10px;
    padding-left: 5px;
    color: teal;
    border: 5px solid teal;

}

.restart {

    display: flex;
    flex-direction: row;
}

#hey {

    color: blanchedalmond;
    background-color: rgb(5, 36, 102);
    width: 800px;
    height: 500px;
    margin-top: 30px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
}

#restart {

    display: flex;

}

#button_r {

    height: 55px;
    width: 140px;
    font-size: 25px;
    padding: 2px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 5px;
    color: rgb(9, 9, 223);
    border-radius: 10px;
    border: 5px solid rgb(9, 4, 98);


}